.babel.json
.npm
workspace/
Downloads/
.node-gyp
Desktop/
.bash_sessions
.npmrc
.DS_Store
.travis
default-soapui-workspace.xml
.soapuios
.lein
.Trash
.viminfo
b.txt
a.txt
bin/
.m2
.lesshst
.gitconfig
.ssh
Library/
Documents/
.atom
.node_repl_history
.vscode
.oracle_jre_history
.v8flags.5.0.71.52.pairuser.json
Applications/
.v8flags.4.6.85.31.pairuser.json
.cache
.config
.local
.gitconfig.old
.cf
.gradle
IdeaProjects/
.android
.ports.json
.forever
.gem
.v8flags.5.0.71.35.pairuser.json
Music/
.CFUserTextEncoding
Movies/
Pictures/
Public/
.gitignore_global
.hgignore_global
.oracle_jre_usage/
SoapUI-Tutorials/
soapui-settings.xml
.bash_history